<div class="container-cards" *ngFor="let curi of curiosity.photos">
  <div class="card-componente">
    <img src="{{curi.img_src}}" alt="" class="img-curiosity">
    <ul>
      <li>
        <span>
          Date: {{curi.earth_date}}
        </span>
      </li>
      <li>
        Name - Rover: {{curi.rover.name}}
      </li>
      <li>
        landing_date: {{curi.rover.landing_date}}
      </li>
      <li>
        launch_date: {{curi.rover.launch_date}}
      </li>
      <li>
        max_date: {{curi.rover.max_date}}
      </li>
      <li>
        max_sol: {{curi.rover.max_sol}}
      </li>
      <li>
        max_sol: {{curi.rover.total_photos}}
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>